
nav#nav-bar{
    border-bottom: solid rgba(0,0,0,.5) 1px;

}

div.container{
    background-color: #f8f9fa;

    margin-bottom: 0;
    padding: 8%;
}
body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#dialog{
    margin-top: 16%;
}
p{
    margin-top: 12%;!important;
    margin-bottom: 12%;!important;
}
#title{
    margin-bottom: 12%;
}
div.banner{
    margin: 18% 0 0.5%;
    padding: 0;
    width: 100%;
}
#bottom_banner_container{
    margin-top: 0;
    cursor: pointer;
}
div#bottom_banner{

    background-color: #ffffff;
}